.InstAlex {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	background: -webkit-linear-gradient(45deg, rgb(246, 195, 0), rgb(82, 169, 182));
	background: -moz-linear-gradient(45deg, rgb(246, 195, 0), rgb(82, 169, 182));
	background: linear-gradient(45deg, rgb(246, 195, 0), rgb(82, 169, 182));
	display: flex;
	align-items: center;
	justify-content: center;

	width: 60px;
	height: 1px;

	border-radius: 10px;

}


.head h1 {
	text-align: center;
	font-family: monospace;
	padding: 40px;
	size: 200px;
	color: blue;
}

.head {
	border-radius: 50%;
	width: 500px;
	height: 300px;

}

.head p {
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	font-size: large;
	color: blue;
}

.head p {
	text-align: left;
	font-family: 'Courier New', Courier, monospace;
	color: aquamarine;
}